@keyframes mobileMenu
  0%
    width: 0
  100%
    width: 300px

@keyframes mobileMenu__lowScreen
  0%
    width: 0
  100%
    width: 225px
@keyframes mouseClick
  50%
    transform: scale(1.1)
  100%
    transform: scale(1)
@keyframes hideAlertMessage
  0%
    opacity: 1
  100%
    opacity: 0