.appeal
  padding: 80px 0 30px 0
  background-position: center
  background-image: url("../src/imgs/мы можем все2.jpg")
  background-size: cover
  height: 555px
  .container
    color: white
    text-align: center
    .appeal__contact-form
      margin-top: 300px
    .formTitle
      margin-bottom: 22px
    .appeal__form
      justify-content: center
      display: flex
      .btn__appeal:hover
        transition: 0.3s
        box-shadow: 0px -1px 23px 0px rgba(255, 255, 255, 0.95)
      .btn__appeal
        transition: 0.2s
        letter-spacing: 0.8px
        text-transform: uppercase
        font-family: cuprum-regular
        font-size: 17px
        background-color: #fbb034
        background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%)
        padding: 5px 20px
        font-weight: 600
        border-radius: 4px
        border: none
        cursor: pointer
        min-width: 200px !important
        width: 194px
        height: 43px
      .formPart:before
        box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.55) inset
        content: ""
        height: 100%
        width: 100%
        position: absolute
        z-index: -1
        left: 0
      .formPart
        box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.41) inset
        z-index: 20
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        background: white
        border-radius: 7px
        padding: 8px 15px
        margin-right: 25px
        input
          padding: 3px
          border: none
        .iconInput
          display: flex
          justify-content: center
          align-items: center
          margin-right: 12px
        img
          height: 27px
    .subTitle
      max-width: 400px
      margin: 0 auto
      font-weight: 600
    .subTitle, .appeal__contact-form
      font-size: 17px
      font-family: cuprum-regular
    .blockTitle
      margin-bottom: 24px
      font-size: 40px
      font-family: cuprum-bold
      text-transform: uppercase