@charset "UTF-8";
.appeal {
  padding: 80px 0 30px 0;
  background-position: center;
  background-image: url("../src/imgs/мы можем все2.jpg");
  background-size: cover;
  height: 555px; }
  .appeal .container {
    color: white;
    text-align: center; }
    .appeal .container .appeal__contact-form {
      margin-top: 300px; }
    .appeal .container .formTitle {
      margin-bottom: 22px; }
    .appeal .container .appeal__form {
      justify-content: center;
      display: flex; }
      .appeal .container .appeal__form .btn__appeal:hover {
        transition: 0.3s;
        box-shadow: 0px -1px 23px 0px rgba(255, 255, 255, 0.95); }
      .appeal .container .appeal__form .btn__appeal {
        transition: 0.2s;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        font-family: cuprum-regular;
        font-size: 17px;
        background-color: #fbb034;
        background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
        padding: 5px 20px;
        font-weight: 600;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        min-width: 200px !important;
        width: 194px;
        height: 43px; }
      .appeal .container .appeal__form .formPart:before {
        box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.55) inset;
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        left: 0; }
      .appeal .container .appeal__form .formPart {
        box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.41) inset;
        z-index: 20;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        border-radius: 7px;
        padding: 8px 15px;
        margin-right: 25px; }
        .appeal .container .appeal__form .formPart input {
          padding: 3px;
          border: none; }
        .appeal .container .appeal__form .formPart .iconInput {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 12px; }
        .appeal .container .appeal__form .formPart img {
          height: 27px; }
    .appeal .container .subTitle {
      max-width: 400px;
      margin: 0 auto;
      font-weight: 600; }
    .appeal .container .subTitle, .appeal .container .appeal__contact-form {
      font-size: 17px;
      font-family: cuprum-regular; }
    .appeal .container .blockTitle {
      margin-bottom: 24px;
      font-size: 40px;
      font-family: cuprum-bold;
      text-transform: uppercase; }
