.awards {
  padding: 37px 0;
  background-image: -moz-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
  background-image: -webkit-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
  background-image: -ms-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%); }
  .awards .container .mobileList__window {
    padding: 10px 0;
    display: none;
    font-size: 17px;
    font-family: cuprum-regular;
    text-align: center; }
    .awards .container .mobileList__window ul {
      list-style: none; }
      .awards .container .mobileList__window ul li {
        margin-bottom: 10px;
        text-align: left; }
  .awards .container ul.awards__list {
    position: relative;
    display: flex;
    list-style: none;
    justify-content: space-between; }
    .awards .container ul.awards__list .clickIcon {
      display: none;
      animation: mouseClick infinite 2s;
      left: 0;
      top: 0;
      position: absolute; }
    .awards .container ul.awards__list li.list__item {
      max-width: 33%; }
      .awards .container ul.awards__list li.list__item img {
        width: 100%; }
    .awards .container ul.awards__list .competition__image {
      margin-bottom: 35px; }
    .awards .container ul.awards__list ul.descriptionOnYears {
      list-style: none; }
      .awards .container ul.awards__list ul.descriptionOnYears li {
        position: relative;
        padding: 0 10px;
        margin-bottom: 8px;
        font-size: 17px;
        font-family: cuprum-regular; }
      .awards .container ul.awards__list ul.descriptionOnYears li:before {
        content: '-';
        position: absolute;
        top: 0;
        left: 0px;
        height: 2px;
        width: 10px; }
  .awards .container .titleBLock {
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-family: cuprum-regular;
    font-weight: 500; }
