.awards
  padding: 37px 0
  background-image: -moz-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
  background-image: -webkit-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
  background-image: -ms-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
  .container
    .mobileList__window
      padding: 10px 0
      display: none
      font-size: 17px
      font-family: cuprum-regular
      text-align: center
      ul
        list-style: none
        li
          margin-bottom: 10px
          text-align: left
    ul.awards__list
      position: relative
      .clickIcon
        display: none
        animation: mouseClick infinite 2s
        left: 0
        top: 0
        position: absolute
      li.list__item
        max-width: 33%
        img
          width: 100%
      .competition__image
        margin-bottom: 35px
      display: flex
      list-style: none
      justify-content: space-between
      ul.descriptionOnYears
        list-style: none
        li
          position: relative
          padding: 0 10px
          margin-bottom: 8px
          font-size: 17px
          font-family: cuprum-regular
        li:before
          content: '-'
          position: absolute
          top: 0
          left: 0px
          height: 2px
          width: 10px

    .titleBLock
      font-size: 40px
      color: black
      text-transform: uppercase
      text-align: center
      margin-bottom: 30px
      font-family: cuprum-regular
      font-weight: 500