.examples
  padding-top: 30px
  padding-bottom: 60px
  .container
    display: flex
    flex-direction: column
    justify-content: center
    .btn__showAllExamples
      display: none
      margin: 0 auto
      padding: 5px 20px
      text-transform: uppercase
      background-image: -webkit-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%)
      border-radius: 4px
      border: none
      font-family: cuprum-regular
      font-size: 17px
      margin-top: 15px
    .titleBlock
      font-size: 40px
      color: black
      text-align: center
      font-family: cuprum-regular
      margin-bottom: 30px
      text-transform: uppercase
      font-weight: 600
    .examples__works
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr
    .example__work:hover
      img
        transform: scale(1.05)
        transition: 0.3s
    .example__work
      display: inline-block
      max-width: 202px
      font-family: cuprum-regular
      font-size: 17px
      cursor: pointer
      margin: 0 auto
      margin-bottom: 30px