header
  background-image: -moz-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
  background-image: -webkit-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
  background-image: -ms-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
  position: absolute
  width: 1936px
  height: 90px
  z-index: 140
  width: 100%
  display: flex
  font-family: cuprum-regular
  font-size: 17px
  .mobile-menu__body
    display: none
    animation: mobileMenu 0.3s ease-in
    animation-iteration-count: 1
    list-style: none
    text-align: right
    position: fixed
    padding-top: 20px
    height: 100vh
    width: 300px
    //background: #f7d80c
    right: 0
    top: 0
    background-image: -moz-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
    background-image: -webkit-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
    background-image: -ms-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
    box-shadow: -7px 0px 37px -8px rgba(34, 60, 80, 0.2)
    .logo__background
      position: absolute
      height: 300px
      z-index: 0
      bottom: 0
      opacity: 0.1
      filter: blur(5px)
      img
        height: 100%
    li
      background: #f7d80c
      border-bottom: 2px solid rgba(255, 255, 255, .5)
      padding: 10px 30px
      font-family: cuprum-bold
      font-size: 19px
      z-index: 20
    a
      color: #000000
      text-decoration: none
    a:hover
      color: floralwhite
  .container
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    max-width: 900px !important
    .menu
      margin-top: 30px
      position: relative
      .menu__phone
        position: absolute
        right: 0
        top: -54px
        background: black
        padding: 14px 19px
        border-radius: 0px 0px 10px 10px
        font-size: 18px
        font-family: cuprum-regular
        .number
          position: relative
          color: #f5d30d
          width: 114px
          height: 19px
          .triangle
            position: absolute
            transform: scale(0.5)
            left: -324px
            top: -217px
    .menu .menu__ul
      text-decoration: none
      list-style: none
      display: flex
      a
        text-decoration: none
        color: black
      a:hover
        color: #f3f2f2
      .menu__item
        margin-right: 22px
      .menu__item:last-child
        margin-right: 0
    .logo, menu
      display: inline-block


.black-screen
  width: 100vw
  height: 100vh
  background: black
  position: fixed
  z-index: 10
  transition: 1s
  opacity: 0.2
  z-index: 101
  display: none
.burger__line
  width: 30px
  height: 3px
  background: #353535
  margin-bottom: 3px

.burger__line:last-child
  margin-bottom: 0
