footer
  background: black
  padding: 30px 0
  color: white
  font-size: 17px
  font-family: cuprum-regular
  .container
    position: relative
    .copyRight
      position: absolute
      bottom: 0
      right: 10px
  ul.list__infoCompany
    list-style: none
    text-align: left