@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.mainWrapper {
  width: 100%; }

.container {
  max-width: 900px !important;
  margin: 0 auto; }

.hide {
  display: none !important; }

.my-form-status {
  position: fixed;
  top: 18px;
  left: 30px;
  padding: 20px;
  border-radius: 10px;
  background: orange;
  z-index: 3000;
  font-family: cuprum-regular;
  font-size: 17px;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: none; }

@keyframes mobileMenu {
  0% {
    width: 0; }
  100% {
    width: 300px; } }

@keyframes mobileMenu__lowScreen {
  0% {
    width: 0; }
  100% {
    width: 225px; } }

@keyframes mouseClick {
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes hideAlertMessage {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@font-face {
  font-family: 'cuprum-regular';
  src: url("../src/fonts/cuprum/Cuprum-Regular.ttf"); }

@font-face {
  font-family: 'cuprum-bold';
  src: url("../src/fonts/cuprum/Cuprum-Bold.ttf"); }

header {
  background-image: -moz-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
  background-image: -webkit-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
  background-image: -ms-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
  position: absolute;
  width: 1936px;
  height: 90px;
  z-index: 140;
  width: 100%;
  display: flex;
  font-family: cuprum-regular;
  font-size: 17px; }
  header .mobile-menu__body {
    display: none;
    animation: mobileMenu 0.3s ease-in;
    animation-iteration-count: 1;
    list-style: none;
    text-align: right;
    position: fixed;
    padding-top: 20px;
    height: 100vh;
    width: 300px;
    right: 0;
    top: 0;
    background-image: -moz-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
    background-image: -webkit-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
    background-image: -ms-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
    box-shadow: -7px 0px 37px -8px rgba(34, 60, 80, 0.2); }
    header .mobile-menu__body .logo__background {
      position: absolute;
      height: 300px;
      z-index: 0;
      bottom: 0;
      opacity: 0.1;
      filter: blur(5px); }
      header .mobile-menu__body .logo__background img {
        height: 100%; }
    header .mobile-menu__body li {
      background: #f7d80c;
      border-bottom: 2px solid rgba(255, 255, 255, 0.5);
      padding: 10px 30px;
      font-family: cuprum-bold;
      font-size: 19px;
      z-index: 20; }
    header .mobile-menu__body a {
      color: #000000;
      text-decoration: none; }
    header .mobile-menu__body a:hover {
      color: floralwhite; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px !important; }
    header .container .menu {
      margin-top: 30px;
      position: relative; }
      header .container .menu .menu__phone {
        position: absolute;
        right: 0;
        top: -54px;
        background: black;
        padding: 14px 19px;
        border-radius: 0px 0px 10px 10px;
        font-size: 18px;
        font-family: cuprum-regular; }
        header .container .menu .menu__phone .number {
          position: relative;
          color: #f5d30d;
          width: 114px;
          height: 19px; }
          header .container .menu .menu__phone .number .triangle {
            position: absolute;
            transform: scale(0.5);
            left: -324px;
            top: -217px; }
    header .container .menu .menu__ul {
      text-decoration: none;
      list-style: none;
      display: flex; }
      header .container .menu .menu__ul a {
        text-decoration: none;
        color: black; }
      header .container .menu .menu__ul a:hover {
        color: #f3f2f2; }
      header .container .menu .menu__ul .menu__item {
        margin-right: 22px; }
      header .container .menu .menu__ul .menu__item:last-child {
        margin-right: 0; }
    header .container .logo, header .container menu {
      display: inline-block; }

.black-screen {
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  z-index: 10;
  transition: 1s;
  opacity: 0.2;
  z-index: 101;
  display: none; }

.burger__line {
  width: 30px;
  height: 3px;
  background: #353535;
  margin-bottom: 3px; }

.burger__line:last-child {
  margin-bottom: 0; }

.promo-video {
  overflow: hidden; }
  .promo-video .description-company {
    margin-top: 135px;
    background: linear-gradient(to bottom, #ffffff 0%, #e1e0e0 100%);
    padding-bottom: 27px; }
    .promo-video .description-company .description__content {
      color: black;
      text-align: left;
      font-size: 17px;
      font-family: cuprum-regular;
      font-weight: 400; }
    .promo-video .description-company .title-block__description-company {
      text-align: center;
      font-size: 40px;
      font-family: cuprum-bold;
      color: black;
      text-transform: uppercase;
      margin-bottom: 25px; }
  .promo-video .promo-video__video-block {
    padding-top: 120px;
    background-image: url("../src/imgs/pattern_computer.png"); }
    .promo-video .promo-video__video-block .container {
      display: flex; }
      .promo-video .promo-video__video-block .container form.feedBackFrom {
        border-radius: 4px;
        border: 2px solid white;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        max-width: 285px;
        background: url("../src/imgs/withoutTools.png"); }
        .promo-video .promo-video__video-block .container form.feedBackFrom .feedBackForm__descriptionForm {
          color: white;
          font-size: 17px;
          font-family: cuprum-regular;
          margin-bottom: 30px;
          margin-left: 5px; }
        .promo-video .promo-video__video-block .container form.feedBackFrom .feedBackForm__subtitle {
          color: white;
          font-size: 14px;
          font-family: cuprum-regular;
          margin-left: 5px;
          text-align: center;
          margin-bottom: 4px; }
      .promo-video .promo-video__video-block .container .promo-video__feedBackForm {
        margin-right: 0;
        margin-left: auto; }
        .promo-video .promo-video__video-block .container .promo-video__feedBackForm .titleForm {
          color: white;
          text-align: center;
          font-size: 33px;
          text-transform: uppercase;
          font-family: cuprum-bold;
          margin-bottom: 35px; }
          .promo-video .promo-video__video-block .container .promo-video__feedBackForm .titleForm span:before {
            color: purple;
            content: ' ';
            min-height: 20px;
            min-width: 200px;
            background-image: url("../src/imgs/wavy-line.png");
            background-size: 200px; }
        .promo-video .promo-video__video-block .container .promo-video__feedBackForm .inputBlock {
          padding: 5px 7px;
          border-radius: 10px;
          border: 2px solid white;
          margin-bottom: 14px;
          display: flex;
          align-items: center;
          justify-content: space-around; }
          .promo-video .promo-video__video-block .container .promo-video__feedBackForm .inputBlock input {
            padding: 2px;
            background: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            z-index: 100;
            width: 80%;
            border-radius: 4px;
            outline-color: #cfa724;
            color: white; }
          .promo-video .promo-video__video-block .container .promo-video__feedBackForm .inputBlock .inputIcon {
            display: flex;
            justify-content: center;
            align-items: center; }
          .promo-video .promo-video__video-block .container .promo-video__feedBackForm .inputBlock img {
            height: 30px; }
        .promo-video .promo-video__video-block .container .promo-video__feedBackForm .feedBack__btn {
          border-radius: 4px;
          display: inline-flex;
          align-items: center;
          font-size: 12px;
          letter-spacing: .05em;
          font-weight: 600;
          text-transform: uppercase;
          padding: 12px 20px;
          font-family: 'Montserrat', sans-serif;
          color: #cfa724;
          border: 2px solid orange;
          cursor: pointer;
          transition: .3s linear;
          background: #353535; }
        .promo-video .promo-video__video-block .container .promo-video__feedBackForm .feedBack__btn:hover {
          background: white; }
        .promo-video .promo-video__video-block .container .promo-video__feedBackForm .feedBack__btn:after {
          content: " ";
          background-image: url("../src/imgs/mail.png");
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center;
          height: 20px;
          width: 20px;
          font-family: Linearicons-Free;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 16px;
          margin-left: 30px;
          padding-left: 20px;
          border-left: 1px solid gray; }
  .promo-video .promo-video__computer-part {
    height: 433px; }

.promo-video__computer {
  position: relative; }
  .promo-video__computer .computer__image {
    z-index: 20;
    position: absolute; }
  .promo-video__computer img {
    height: 526px;
    z-index: 10; }
  .promo-video__computer .computer__photo {
    z-index: 10; }
  .promo-video__computer .video__computerBlock {
    position: absolute;
    z-index: 29;
    left: 20px;
    top: 20px; }

.whyWe {
  background-image: -moz-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
  background-image: -webkit-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
  background-image: -ms-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
  padding: 30px 0px; }
  .whyWe .whyWe__title {
    text-align: center;
    font-family: cuprum-bold;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 25px; }
  .whyWe ul.whyWe__reason-sheet {
    list-style: none;
    display: flex;
    justify-content: space-between; }
    .whyWe ul.whyWe__reason-sheet li {
      display: flex;
      height: 180px;
      align-items: center;
      flex-direction: column;
      max-width: 160px;
      text-align: center;
      font-family: cuprum-regular;
      font-size: 17px;
      width: 25%; }
      .whyWe ul.whyWe__reason-sheet li img {
        width: 80%; }

.someNumbers {
  background: url("../src/imgs/withoutTools.png");
  padding: 20px 0; }
  .someNumbers .container .titleBlock {
    font-size: 40px;
    color: white;
    font-family: cuprum-bold;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .someNumbers .container ul.someNumbers__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .someNumbers .container ul.someNumbers__list li:last-child {
      margin-right: 0; }
    .someNumbers .container ul.someNumbers__list li {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 19px;
      color: #efefef;
      font-family: cuprum-regular;
      max-width: 160px;
      text-align: center; }
      .someNumbers .container ul.someNumbers__list li img {
        width: 100%; }

.examples {
  padding-top: 30px;
  padding-bottom: 60px; }
  .examples .container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .examples .container .btn__showAllExamples {
      display: none;
      margin: 0 auto;
      padding: 5px 20px;
      text-transform: uppercase;
      background-image: -webkit-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
      border-radius: 4px;
      border: none;
      font-family: cuprum-regular;
      font-size: 17px;
      margin-top: 15px; }
    .examples .container .titleBlock {
      font-size: 40px;
      color: black;
      text-align: center;
      font-family: cuprum-regular;
      margin-bottom: 30px;
      text-transform: uppercase;
      font-weight: 600; }
    .examples .container .examples__works {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; }
    .examples .container .example__work:hover img {
      transform: scale(1.05);
      transition: 0.3s; }
    .examples .container .example__work {
      display: inline-block;
      max-width: 202px;
      font-family: cuprum-regular;
      font-size: 17px;
      cursor: pointer;
      margin: 0 auto;
      margin-bottom: 30px; }

.awards {
  padding: 37px 0;
  background-image: -moz-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
  background-image: -webkit-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%);
  background-image: -ms-linear-gradient(90deg, #e7b219 0%, #f9dd0a 100%); }
  .awards .container .mobileList__window {
    padding: 10px 0;
    display: none;
    font-size: 17px;
    font-family: cuprum-regular;
    text-align: center; }
    .awards .container .mobileList__window ul {
      list-style: none; }
      .awards .container .mobileList__window ul li {
        margin-bottom: 10px;
        text-align: left; }
  .awards .container ul.awards__list {
    position: relative;
    display: flex;
    list-style: none;
    justify-content: space-between; }
    .awards .container ul.awards__list .clickIcon {
      display: none;
      animation: mouseClick infinite 2s;
      left: 0;
      top: 0;
      position: absolute; }
    .awards .container ul.awards__list li.list__item {
      max-width: 33%; }
      .awards .container ul.awards__list li.list__item img {
        width: 100%; }
    .awards .container ul.awards__list .competition__image {
      margin-bottom: 35px; }
    .awards .container ul.awards__list ul.descriptionOnYears {
      list-style: none; }
      .awards .container ul.awards__list ul.descriptionOnYears li {
        position: relative;
        padding: 0 10px;
        margin-bottom: 8px;
        font-size: 17px;
        font-family: cuprum-regular; }
      .awards .container ul.awards__list ul.descriptionOnYears li:before {
        content: '-';
        position: absolute;
        top: 0;
        left: 0px;
        height: 2px;
        width: 10px; }
  .awards .container .titleBLock {
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-family: cuprum-regular;
    font-weight: 500; }

.partners {
  padding: 30px 0; }
  .partners .container {
    display: flex;
    flex-direction: column; }
    .partners .container .btn__showAllPartners {
      display: none;
      margin: 0 auto;
      padding: 5px 20px;
      text-transform: uppercase;
      color: white;
      background-image: -webkit-linear-gradient(90deg, #457eff 0%, #0a8bf9 100%);
      border-radius: 4px;
      border: none;
      font-family: cuprum-regular;
      font-size: 17px;
      margin-top: 15px; }
    .partners .container .partners__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .partners .container .partners__list .partner {
        padding: 12px; }
        .partners .container .partners__list .partner img {
          max-width: 100%; }
    .partners .container .titleBlock {
      margin-bottom: 24px;
      text-transform: uppercase;
      font-size: 40px;
      font-family: cuprum-regular;
      color: black;
      text-align: center; }

.appeal {
  padding: 80px 0 30px 0;
  background-position: center;
  background-image: url("../src/imgs/мы можем все2.jpg");
  background-size: cover;
  height: 555px; }
  .appeal .container {
    color: white;
    text-align: center; }
    .appeal .container .appeal__contact-form {
      margin-top: 300px; }
    .appeal .container .formTitle {
      margin-bottom: 22px; }
    .appeal .container .appeal__form {
      justify-content: center;
      display: flex; }
      .appeal .container .appeal__form .btn__appeal:hover {
        transition: 0.3s;
        box-shadow: 0px -1px 23px 0px rgba(255, 255, 255, 0.95); }
      .appeal .container .appeal__form .btn__appeal {
        transition: 0.2s;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        font-family: cuprum-regular;
        font-size: 17px;
        background-color: #fbb034;
        background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
        padding: 5px 20px;
        font-weight: 600;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        min-width: 200px !important;
        width: 194px;
        height: 43px; }
      .appeal .container .appeal__form .formPart:before {
        box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.55) inset;
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        left: 0; }
      .appeal .container .appeal__form .formPart {
        box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.41) inset;
        z-index: 20;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        border-radius: 7px;
        padding: 8px 15px;
        margin-right: 25px; }
        .appeal .container .appeal__form .formPart input {
          padding: 3px;
          border: none; }
        .appeal .container .appeal__form .formPart .iconInput {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 12px; }
        .appeal .container .appeal__form .formPart img {
          height: 27px; }
    .appeal .container .subTitle {
      max-width: 400px;
      margin: 0 auto;
      font-weight: 600; }
    .appeal .container .subTitle, .appeal .container .appeal__contact-form {
      font-size: 17px;
      font-family: cuprum-regular; }
    .appeal .container .blockTitle {
      margin-bottom: 24px;
      font-size: 40px;
      font-family: cuprum-bold;
      text-transform: uppercase; }

.map {
  width: 100%; }

footer {
  background: black;
  padding: 30px 0;
  color: white;
  font-size: 17px;
  font-family: cuprum-regular; }
  footer .container {
    position: relative; }
    footer .container .copyRight {
      position: absolute;
      bottom: 0;
      right: 10px; }
  footer ul.list__infoCompany {
    list-style: none;
    text-align: left; }

@media all and (max-width: 1024px) {
  .examples .container .examples__works {
    grid-template-columns: 1fr 1fr 1fr; } }

@media all and (min-width: 991px) {
  .mobileMenu {
    display: none; }
  .black-screen {
    display: none; } }

@media all and (max-width: 990px) {
  .promo-video .container {
    justify-content: center;
    align-items: center; }
    .promo-video .container .promo-video__computer-part {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-right: 5px; }
    .promo-video .container .promo-video__feedBackForm {
      margin: 0 !important; }
    .promo-video .container .computer__image {
      display: none; }
  .promo-video .computer__image {
    left: -261px; }
  .promo-video .video__computerBlock {
    left: -241px;
    width: 300px;
    height: 219px;
    position: static; }
  .promo-video .container {
    max-width: 768px !important; }
  .menu {
    display: none !important; }
  .container {
    padding: 0 40px; } }

@media all and (max-width: 768px) {
  footer .container {
    height: 100px; }
  .appeal {
    height: auto; }
    .appeal .subTitle {
      text-shadow: 0 0 6px black;
      font-size: 22px !important;
      font-weight: 500 !important;
      letter-spacing: -0.2px;
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2); }
    .appeal .appeal__contact-form {
      margin-top: 120px !important; }
      .appeal .appeal__contact-form .formTitle {
        text-shadow: 0 0 6px black; }
  .appeal {
    height: auto; }
    .appeal .subTitle {
      text-shadow: 0 0 6px black;
      font-size: 22px !important;
      font-weight: 500 !important;
      letter-spacing: -0.2px;
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2); }
    .appeal .appeal__contact-form {
      margin-top: 120px !important; }
      .appeal .appeal__contact-form .formTitle {
        text-shadow: 0 0 6px black; }
      .appeal .appeal__contact-form .appeal__form {
        flex-direction: column;
        align-items: center; }
        .appeal .appeal__contact-form .appeal__form .formPart {
          margin-right: 0;
          margin-bottom: 20px; }
        .appeal .appeal__contact-form .appeal__form .btn__appeal {
          margin-top: 15px; }
  .partners .btn__showAllPartners {
    display: block !important; }
  .awards .mobileList__window {
    display: block !important; }
  .awards .clickIcon {
    display: block !important; }
    .awards .clickIcon img {
      height: 50px; }
  .awards .container ul.awards__list ul.descriptionOnYears {
    display: none; }
  .examples .container .btn__showAllExamples {
    display: block; }
  .examples .container .examples__works {
    grid-template-columns: 1fr 1fr; }
  .container .titleBlock {
    font-family: cuprum-bold; }
  .container ul.someNumbers__list li img {
    width: 60% !important; }
  .whyWe ul.whyWe__reason-sheet {
    flex-wrap: wrap;
    justify-content: center; }
    .whyWe ul.whyWe__reason-sheet li {
      min-width: 110px;
      margin-right: 10px; }
  .promo-video .container {
    flex-direction: column; }
    .promo-video .container .promo-video__computer-part {
      height: 257px; }
    .promo-video .container .promo-video__feedBackForm {
      margin-bottom: 15px !important; }
      .promo-video .container .promo-video__feedBackForm .feedBackFrom .titleForm {
        margin-bottom: 20px; }
      .promo-video .container .promo-video__feedBackForm .feedBackFrom .feedBackForm__descriptionForm {
        margin-bottom: 10px !important;
        text-align: center;
        margin-left: 0; }
  .promo-video .description-company {
    margin-top: 30px; }
    .promo-video .description-company .description__content {
      font-size: 19px; } }

@media all and (max-width: 524px) {
  .examples .container .examples__works {
    grid-template-columns: 1fr 1fr; }
    .examples .container .examples__works .example__work {
      width: 150px; }
    .examples .container .examples__works .example__work-photo img {
      width: 150px; } }

@media all and (max-width: 425px) {
  .appeal .blockTitle {
    font-size: 34px !important; }
  .appeal .appeal__contact-form .formTitle {
    font-size: 20px; }
  .awards .clickIcon img {
    height: 35px; }
  .examples .container .examples__works {
    grid-template-columns: 1fr; }
  .mobile-menu__body {
    animation: mobileMenu__lowScreen 0.3s ease-in !important;
    max-width: 225px; }
  .whyWe {
    padding: 15px 0 !important; }
    .whyWe .whyWe__item {
      height: 172px; }
    .whyWe .whyWe__title {
      font-size: 30px !important; }
  .container .titleBlock {
    font-family: cuprum-bold;
    font-size: 30px !important; }
  .container ul.someNumbers__list {
    align-items: start !important; }
    .container ul.someNumbers__list li {
      max-width: 100px !important; }
      .container ul.someNumbers__list li .item__description {
        font-size: 18px; }
      .container ul.someNumbers__list li img {
        width: 100% !important; }
  .promo-video .description-company .title-block__description-company {
    font-size: 25px; }
  .promo-video .container .promo-video__feedBackForm .inputIcon img {
    height: 15px !important; } }
