*
  margin: 0
  padding: 0
.mainWrapper
  width: 100%
.container
  max-width: 900px !important
  margin: 0 auto
.hide
  display: none !important

.my-form-status
  position: fixed
  top: 18px
  left: 30px
  padding: 20px
  border-radius: 10px
  background: orange
  z-index: 3000
  font-family: cuprum-regular
  font-size: 17px
  color: white
  font-weight: 600
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)
  display: none

@import "animations.sass"
@import "fonts.sass"
@import "header.sass"
@import 'promo-video.sass'
@import "whyWe.sass"
@import 'someNumbers.sass'
@import 'examples.sass'
@import "awards.sass"
@import 'partners.sass'
@import "appeal.sass"
@import "map.sass"
@import "infoAboutCompany.sass"

@import 'media.sass'