@media all and (max-width: 1024px) {
  .examples .container .examples__works {
    grid-template-columns: 1fr 1fr 1fr; } }

@media all and (min-width: 991px) {
  .mobileMenu {
    display: none; }
  .black-screen {
    display: none; } }

@media all and (max-width: 990px) {
  .promo-video .container {
    justify-content: center;
    align-items: center; }
    .promo-video .container .promo-video__computer-part {
      justify-content: center;
      align-items: center;
      display: flex;
      margin-right: 5px; }
    .promo-video .container .promo-video__feedBackForm {
      margin: 0 !important; }
    .promo-video .container .computer__image {
      display: none; }
  .promo-video .computer__image {
    left: -261px; }
  .promo-video .video__computerBlock {
    left: -241px;
    width: 300px;
    height: 219px;
    position: static; }
  .promo-video .container {
    max-width: 768px !important; }
  .menu {
    display: none !important; }
  .container {
    padding: 0 40px; } }

@media all and (max-width: 768px) {
  footer .container {
    height: 100px; }
  .appeal {
    height: auto; }
    .appeal .subTitle {
      text-shadow: 0 0 6px black;
      font-size: 22px !important;
      font-weight: 500 !important;
      letter-spacing: -0.2px;
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2); }
    .appeal .appeal__contact-form {
      margin-top: 120px !important; }
      .appeal .appeal__contact-form .formTitle {
        text-shadow: 0 0 6px black; }
  .appeal {
    height: auto; }
    .appeal .subTitle {
      text-shadow: 0 0 6px black;
      font-size: 22px !important;
      font-weight: 500 !important;
      letter-spacing: -0.2px;
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2); }
    .appeal .appeal__contact-form {
      margin-top: 120px !important; }
      .appeal .appeal__contact-form .formTitle {
        text-shadow: 0 0 6px black; }
      .appeal .appeal__contact-form .appeal__form {
        flex-direction: column;
        align-items: center; }
        .appeal .appeal__contact-form .appeal__form .formPart {
          margin-right: 0;
          margin-bottom: 20px; }
        .appeal .appeal__contact-form .appeal__form .btn__appeal {
          margin-top: 15px; }
  .partners .btn__showAllPartners {
    display: block !important; }
  .awards .mobileList__window {
    display: block !important; }
  .awards .clickIcon {
    display: block !important; }
    .awards .clickIcon img {
      height: 50px; }
  .awards .container ul.awards__list ul.descriptionOnYears {
    display: none; }
  .examples .container .btn__showAllExamples {
    display: block; }
  .examples .container .examples__works {
    grid-template-columns: 1fr 1fr; }
  .container .titleBlock {
    font-family: cuprum-bold; }
  .container ul.someNumbers__list li img {
    width: 60% !important; }
  .whyWe ul.whyWe__reason-sheet {
    flex-wrap: wrap;
    justify-content: center; }
    .whyWe ul.whyWe__reason-sheet li {
      min-width: 110px;
      margin-right: 10px; }
  .promo-video .container {
    flex-direction: column; }
    .promo-video .container .promo-video__computer-part {
      height: 257px; }
    .promo-video .container .promo-video__feedBackForm {
      margin-bottom: 15px !important; }
      .promo-video .container .promo-video__feedBackForm .feedBackFrom .titleForm {
        margin-bottom: 20px; }
      .promo-video .container .promo-video__feedBackForm .feedBackFrom .feedBackForm__descriptionForm {
        margin-bottom: 10px !important;
        text-align: center;
        margin-left: 0; }
  .promo-video .description-company {
    margin-top: 30px; }
    .promo-video .description-company .description__content {
      font-size: 19px; } }

@media all and (max-width: 524px) {
  .examples .container .examples__works {
    grid-template-columns: 1fr 1fr; }
    .examples .container .examples__works .example__work {
      width: 150px; }
    .examples .container .examples__works .example__work-photo img {
      width: 150px; } }

@media all and (max-width: 425px) {
  .appeal .blockTitle {
    font-size: 34px !important; }
  .appeal .appeal__contact-form .formTitle {
    font-size: 20px; }
  .awards .clickIcon img {
    height: 35px; }
  .examples .container .examples__works {
    grid-template-columns: 1fr; }
  .mobile-menu__body {
    animation: mobileMenu__lowScreen 0.3s ease-in !important;
    max-width: 225px; }
  .whyWe {
    padding: 15px 0 !important; }
    .whyWe .whyWe__item {
      height: 172px; }
    .whyWe .whyWe__title {
      font-size: 30px !important; }
  .container .titleBlock {
    font-family: cuprum-bold;
    font-size: 30px !important; }
  .container ul.someNumbers__list {
    align-items: start !important; }
    .container ul.someNumbers__list li {
      max-width: 100px !important; }
      .container ul.someNumbers__list li .item__description {
        font-size: 18px; }
      .container ul.someNumbers__list li img {
        width: 100% !important; }
  .promo-video .description-company .title-block__description-company {
    font-size: 25px; }
  .promo-video .container .promo-video__feedBackForm .inputIcon img {
    height: 15px !important; } }
