@media all and (max-width: 1024px)
  .examples
    .container
      .examples__works
        grid-template-columns: 1fr 1fr 1fr

@media all and (min-width: 991px)
  .mobileMenu
    display: none
  .black-screen
    display: none

@media all and (max-width: 990px)
  .promo-video
    .container
      justify-content: center
      align-items: center
      .promo-video__computer-part
        justify-content: center
        align-items: center
        display: flex
        margin-right: 5px
      .promo-video__feedBackForm
        margin: 0 !important
      .computer__image
        display: none
    .computer__image
      left: -261px
    .video__computerBlock
      left: -241px
      width: 300px
      height: 219px
      position: static
    .container
      max-width: 768px !important
  .menu
    display: none !important
  .container
    padding: 0 40px


@media all and (max-width: 768px)
  footer
    .container
      height: 100px
  .appeal
    height: auto
    .subTitle
      text-shadow: 0 0 6px black
      font-size: 22px !important
      font-weight: 500 !important
      letter-spacing: -0.2px
      -webkit-text-stroke: 1px rgba(0,0,0,0.2)
    .appeal__contact-form
      margin-top: 120px !important
      .formTitle
        text-shadow: 0 0 6px black
  .appeal
    height: auto
    .subTitle
      text-shadow: 0 0 6px black
      font-size: 22px !important
      font-weight: 500 !important
      letter-spacing: -0.2px
      -webkit-text-stroke: 1px rgba(0,0,0,0.2)
    .appeal__contact-form
      margin-top: 120px !important
      .formTitle
        text-shadow: 0 0 6px black
      .appeal__form
        flex-direction: column
        align-items: center
        .formPart
          margin-right: 0
          margin-bottom: 20px
        .btn__appeal
          margin-top: 15px
  .partners
    .btn__showAllPartners
      display: block !important
  .awards
    .mobileList__window
      display: block !important
    .clickIcon
      display: block !important
      img
        height: 50px
    .container ul.awards__list ul.descriptionOnYears
      display: none
  .examples
    .container
      .btn__showAllExamples
        display: block
      .examples__works
        grid-template-columns: 1fr 1fr
  .someNumbers
  .container
    .titleBlock
      font-family: cuprum-bold
    ul.someNumbers__list
      li:last-child
      li
        img
          width: 60% !important
  .whyWe
    ul.whyWe__reason-sheet
      flex-wrap: wrap
      justify-content: center
      li
        min-width: 110px
        margin-right: 10px
  .promo-video
    .container
      flex-direction: column
      .promo-video__computer-part
        height: 257px
      .promo-video__feedBackForm
        margin-bottom: 15px !important
        .feedBackFrom
          .titleForm
            margin-bottom: 20px
          .feedBackForm__descriptionForm
            margin-bottom: 10px !important
            text-align: center
            margin-left: 0
    .description-company
      margin-top: 30px
      .description__content
        font-size: 19px


@media all and (max-width: 524px)
  .examples
    .container
      .examples__works
        grid-template-columns: 1fr 1fr
        .example__work
          width: 150px
        .example__work-photo
          img
            width: 150px
@media all and (max-width: 425px)
  .appeal
    .blockTitle
      font-size: 34px !important
    .subTitle
    .appeal__contact-form
      .formTitle
        font-size: 20px
  .awards
    .clickIcon
      img
        height: 35px
  .examples
    .container
      .examples__works
        grid-template-columns: 1fr
  .mobile-menu__body
    animation: mobileMenu__lowScreen 0.3s ease-in !important
    max-width: 225px
  .whyWe
    padding: 15px 0 !important
    .whyWe__item
      height: 172px
    .whyWe__title
      font-size: 30px !important
  .someNumbers
  .container
    .titleBlock
      font-family: cuprum-bold
      font-size: 30px !important
    ul.someNumbers__list
      align-items: start !important
      li:last-child
      li
        max-width: 100px !important
        .item__description
          font-size: 18px
        img
          width: 100% !important
  .promo-video
    .description-company
      .title-block__description-company
        font-size: 25px
    .container
      .promo-video__feedBackForm
        .inputIcon
          img
            height: 15px !important
