.partners {
  padding: 30px 0; }
  .partners .container {
    display: flex;
    flex-direction: column; }
    .partners .container .btn__showAllPartners {
      display: none;
      margin: 0 auto;
      padding: 5px 20px;
      text-transform: uppercase;
      color: white;
      background-image: -webkit-linear-gradient(90deg, #457eff 0%, #0a8bf9 100%);
      border-radius: 4px;
      border: none;
      font-family: cuprum-regular;
      font-size: 17px;
      margin-top: 15px; }
    .partners .container .partners__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .partners .container .partners__list .partner {
        padding: 12px; }
        .partners .container .partners__list .partner img {
          max-width: 100%; }
    .partners .container .titleBlock {
      margin-bottom: 24px;
      text-transform: uppercase;
      font-size: 40px;
      font-family: cuprum-regular;
      color: black;
      text-align: center; }
