.partners
  padding: 30px 0
  .container
    display: flex
    flex-direction: column
    .btn__showAllPartners
      display: none
      margin: 0 auto
      padding: 5px 20px
      text-transform: uppercase
      color: white
      background-image: -webkit-linear-gradient(90deg, #457eff 0%, #0a8bf9 100%)
      border-radius: 4px
      border: none
      font-family: cuprum-regular
      font-size: 17px
      margin-top: 15px
    .partners__list
      display: flex
      flex-wrap: wrap
      justify-content: center
      //display: grid
      //grid-template-columns: 1fr 1fr 1fr 1fr
      //column-gap: 15px
      //row-gap: 20px
      .partner
        //margin: 0 auto
        padding: 12px
        img
          max-width: 100%
    .titleBlock
      margin-bottom: 24px
      text-transform: uppercase
      font-size: 40px
      font-family: cuprum-regular
      color: black
      text-align: center