.promo-video {
  overflow: hidden; }
  .promo-video .description-company {
    margin-top: 135px;
    background: linear-gradient(to bottom, #ffffff 0%, #e1e0e0 100%);
    padding-bottom: 27px; }
    .promo-video .description-company .description__content {
      color: black;
      text-align: left;
      font-size: 17px;
      font-family: cuprum-regular;
      font-weight: 400; }
    .promo-video .description-company .title-block__description-company {
      text-align: center;
      font-size: 40px;
      font-family: cuprum-bold;
      color: black;
      text-transform: uppercase;
      margin-bottom: 25px; }
  .promo-video .promo-video__video-block {
    padding-top: 120px;
    background-image: url("../src/imgs/pattern_computer.png"); }
    .promo-video .promo-video__video-block .container {
      display: flex; }
      .promo-video .promo-video__video-block .container form.feedBackFrom {
        border-radius: 4px;
        border: 2px solid white;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        max-width: 285px;
        background: url("../src/imgs/withoutTools.png"); }
        .promo-video .promo-video__video-block .container form.feedBackFrom .feedBackForm__descriptionForm {
          color: white;
          font-size: 17px;
          font-family: cuprum-regular;
          margin-bottom: 30px;
          margin-left: 5px; }
        .promo-video .promo-video__video-block .container form.feedBackFrom .feedBackForm__subtitle {
          color: white;
          font-size: 14px;
          font-family: cuprum-regular;
          margin-left: 5px;
          text-align: center;
          margin-bottom: 4px; }
      .promo-video .promo-video__video-block .container .promo-video__feedBackForm {
        margin-right: 0;
        margin-left: auto; }
        .promo-video .promo-video__video-block .container .promo-video__feedBackForm .titleForm {
          color: white;
          text-align: center;
          font-size: 33px;
          text-transform: uppercase;
          font-family: cuprum-bold;
          margin-bottom: 35px; }
          .promo-video .promo-video__video-block .container .promo-video__feedBackForm .titleForm span:before {
            color: purple;
            content: ' ';
            min-height: 20px;
            min-width: 200px;
            background-image: url("../src/imgs/wavy-line.png");
            background-size: 200px; }
        .promo-video .promo-video__video-block .container .promo-video__feedBackForm .inputBlock {
          padding: 5px 7px;
          border-radius: 10px;
          border: 2px solid white;
          margin-bottom: 14px;
          display: flex;
          align-items: center;
          justify-content: space-around; }
          .promo-video .promo-video__video-block .container .promo-video__feedBackForm .inputBlock input {
            padding: 2px;
            background: none;
            border: 1px solid rgba(255, 255, 255, 0.1);
            z-index: 100;
            width: 80%;
            border-radius: 4px;
            outline-color: #cfa724;
            color: white; }
          .promo-video .promo-video__video-block .container .promo-video__feedBackForm .inputBlock .inputIcon {
            display: flex;
            justify-content: center;
            align-items: center; }
          .promo-video .promo-video__video-block .container .promo-video__feedBackForm .inputBlock img {
            height: 30px; }
        .promo-video .promo-video__video-block .container .promo-video__feedBackForm .feedBack__btn {
          border-radius: 4px;
          display: inline-flex;
          align-items: center;
          font-size: 12px;
          letter-spacing: .05em;
          font-weight: 600;
          text-transform: uppercase;
          padding: 12px 20px;
          font-family: 'Montserrat', sans-serif;
          color: #cfa724;
          border: 2px solid orange;
          cursor: pointer;
          transition: .3s linear;
          background: #353535; }
        .promo-video .promo-video__video-block .container .promo-video__feedBackForm .feedBack__btn:hover {
          background: white; }
        .promo-video .promo-video__video-block .container .promo-video__feedBackForm .feedBack__btn:after {
          content: " ";
          background-image: url("../src/imgs/mail.png");
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center;
          height: 20px;
          width: 20px;
          font-family: Linearicons-Free;
          speak: none;
          font-style: normal;
          font-weight: 400;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 16px;
          margin-left: 30px;
          padding-left: 20px;
          border-left: 1px solid gray; }
  .promo-video .promo-video__computer-part {
    height: 433px; }

.promo-video__computer {
  position: relative; }
  .promo-video__computer .computer__image {
    z-index: 20;
    position: absolute; }
  .promo-video__computer img {
    height: 526px;
    z-index: 10; }
  .promo-video__computer .computer__photo {
    z-index: 10; }
  .promo-video__computer .video__computerBlock {
    position: absolute;
    z-index: 29;
    left: 20px;
    top: 20px; }
