.someNumbers
  background: url("../src/imgs/withoutTools.png")
  padding: 20px 0
  .container
    .titleBlock
      font-size: 40px
      color: white
      font-family: cuprum-bold
      text-align: center
      margin-bottom: 10px
      text-transform: uppercase
    ul.someNumbers__list
      display: flex
      justify-content: space-around
      align-items: center
      flex-wrap: wrap
      li:last-child
        margin-right: 0
      li
        display: flex
        flex-direction: column
        align-items: center
        font-size: 19px
        color: #efefef
        font-family: cuprum-regular
        max-width: 160px
        text-align: center
        //margin-right: 150px
        img
          width: 100%