.whyWe
  background-image: -moz-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
  background-image: -webkit-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
  background-image: -ms-linear-gradient( 90deg, rgb(231,178,25) 0%, rgb(249,221,10) 100%)
  padding: 30px 0px
  .whyWe__title
    text-align: center
    font-family: cuprum-bold
    text-transform: uppercase
    font-size: 40px
    margin-bottom: 25px
  ul.whyWe__reason-sheet
    list-style: none
    display: flex
    justify-content: space-between
    li
      display: flex
      height: 180px
      align-items: center
      flex-direction: column
      max-width: 160px
      text-align: center
      font-family: cuprum-regular
      font-size: 17px
      width: 25%
      img
        width: 80%